* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  height: 100%;
}

.est-cost,
.sidebar-title,
.form-title,
.your-trips {
  font-family: 'Kdam Thmor Pro', sans-serif;
}

.display {
  background-color: #f2f79e;
  padding: 5px;
  border-radius: 10px;
  overflow: hidden;
}

.sidebar {
  height: 100%;
  width: 30%;
  background-color: #92b9bd;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-wrapper {
  height: 80%;
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
}

.sidebar-form {
  margin: 10px;
  height: 320px;
  /* border: 1px solid orange; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

form > label {
  font-size: 15px;
  font-weight: bold;
  grid-column: 1;
}

.cost-disclaimer {
  font-style: italic;
}

.trip-form {
  display: grid;
  grid-template-columns: 100px, 100px;
  grid-template-rows: 50px, 50px, 50px, 50px;
}

.user-input:hover {
  cursor: pointer;
}

.submit-trip:disabled {
  cursor: disabled;
}

.submit-trip:enabled {
  background-color: #967d69;
  color: #f2f79e;
}

.submit-trip:hover:enabled {
  cursor: pointer;
}

.submit-trip {
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-size: large;
  height: 30px;
  border-radius: 5px;
}

.dashboard {
  background-color: #a8d4ad;
  width: 100%;
}

.content-wrapper {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.trip-header {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 5px;
}

.grid-container {
  display: grid;
  position: relative;
  grid-template-columns: 370px 370px;
  grid-template-rows: 100px 230px 230px;
  grid-row-gap: 25px;
  grid-column-gap: 20px;
}

.present-display {
  grid-column: 1;
  grid-row: 2;
}

.upcoming-display {
  grid-row: 2;
  grid-column: 2;
}

.amt-display {
  grid-row: 1;
  grid-column: 1/ span 2;
}

.past-display {
  grid-row: 3;
  grid-column: 1;
}

.card {
  border-radius: 5px;
  border: 1px solid black;
  display: flex;
  width: 100%;
  min-width: 300px;
  height: 11rem;
  margin-right: 10px;
}

.card-image {
  width: 50%;
}

.present-scroll,
.upcoming-scroll,
.past-scroll,
.pending-scroll {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 800px;
  overflow-x: scroll;
  position: relative;
}

.bottom-card {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
