* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  /* background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  ); */
  display: flex;
  height: 100%;
  border: 1px solid red;
}

article {
  background-color: #f2f79e;
}

.sidebar {
  height: 100%;
  width: 30%;
  background-color: #92b9bd;
  display: flex;
  flex-direction: column;
}

.sidebar-form {
  align-content: center;
}

.dashboard {
  background-color: #a8d4ad;
  width: 100%;
}

.content-wrapper {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.grid-container {
  display: grid;
  position: relative;
  /* top: 100px; */
  /* max-height: 900px; */
  grid-template-columns: 270px 270px 270px;
  grid-template-rows: 180px 230px 230px;
  grid-row-gap: 25px;
  grid-column-gap: 20px;
}

.present-display {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.upcoming-display {
  grid-row: 2;
  grid-column: 1 / span 3;
}

.past-display {
  grid-row: 3;
  grid-column: 1 / span 3;
}
