* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  /* background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  ); */
  display: flex;
  /* color: #967d69; */
  /* font-family: 'Kdam Thmor Pro', sans-serif; */
  height: 100%;
  /* border: 1px solid red; */
}

.sidebar-title,
.form-title,
.your-trips {
  font-family: 'Kdam Thmor Pro', sans-serif;
}

/* .welcome-greeting,
.display-title,
.spent-title,
.upcoming-title,
.past-title {
  font-family: 'Roboto Condensed', sans-serif;
} */

article {
  background-color: #f2f79e;
  padding: 5px;
  border-radius: 10px;
}

.sidebar {
  height: 100%;
  width: 30%;
  background-color: #92b9bd;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-wrapper {
  /* border: 2px solid green; */
  height: 80%;
  display: flex;
  align-items: flex-end;
}
.sidebar-form {
  /* align-content: center; */
  /* dislay: flex;
  flex-direction: column
  align-items: center; */
  /* border: 2px solid pink; */
  margin: 10px;
  height: 300px;
}

.dashboard {
  background-color: #a8d4ad;
  width: 100%;
  /* border: 2px solid orange; */
}

.content-wrapper {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* border: 2px solid purple; */
  height: 100%;
}

.trip-header {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 5px;
}

.grid-container {
  display: grid;
  position: relative;
  /* top: 50px; */
  /* max-height: 900px; */
  grid-template-columns: 270px 270px 270px;
  grid-template-rows: 180px 230px 230px;
  grid-row-gap: 25px;
  grid-column-gap: 20px;
}

.present-display {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.upcoming-display {
  grid-row: 2;
  grid-column: 1 / span 3;
}

.past-display {
  grid-row: 3;
  grid-column: 1 / span 3;
}
